.section-features {
    padding-bottom: 0;
}


.features {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}


.features-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
}


.features-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 10px;
}


.features-list {
    display: flex;
}


.features-item {
    width: 270px;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}


.invisible-title {
    display: none;
    visibility: hidden;
}