footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;

    @media screen and (max-width: 768px) {
        min-width: 480px;
    }

}

.footer-address {
    margin-right: 70px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-content: center;
        // align-items: center;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 60px;


        
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        margin-right: 0px;
        margin-bottom: 60px;
    }

    
   
}

.by-contacts:not(:last-child) {
    margin-bottom: 9px;
}

.map-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
    &:hover, 
    &:focus {
        color: var(--logo-text-color);
    }
}

.mail-contact, .tel-contact {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
    &:hover, 
    &:focus {
        color: var(--logo-text-color);
    }
}


.footer-container {

    @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    }

  
    @media (min-width: 768px) and (max-width: 1199px) {
        // max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
     
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    align-content: flex-end;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//     .footer-container {
//     width: 768px;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     }
// }


.footer-social {
    display: block;
    justify-content: space-around;
    align-content: flex-end;

    // &:not(:last-child) {
    //     margin-right: 93px;
    // }

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-content: center;
        // align-items: center;
        text-align: center;
        margin-right: 0px;
    }

    @media screen and (max-width: 1199px) {
        
        text-align: center;
        
    }
}

@media screen and (min-width: 1200px) {
    .footer-social:not(:last-child) {
        margin-right: 93px;
    }
}

@media screen and (max-width: 767px) {
    .footer-social:not(:last-child) {
        margin-bottom: 60px;
    }
}

.footer-social-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    
    
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.social-title-form {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }

}

.footer-social-link {
    background: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
    fill: #AFB1B8;
    }
