.slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    color: var(--contact-color);
    margin: 0px;

    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 42px;
    }
}


.hero {
    background-color: #C4C4C4;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url("../images/hero/hero.jpg"); 
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 768px) {
        width: 480px;
    }

    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/hero/hero2x.jpg");
    }


    @media screen and (min-width: 768px) {
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/hero-tablet.jpg");
        max-width: 768px;
        height: 400px;

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/hero/hero-tablet2x.jpg");
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/hero-desktop.jpg");
        max-width: 1600px;
        height: 600px;

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/hero/hero-desktop2x.jpg");
        }
    }
}


// .hero {
//     background-color: #C4C4C4;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     text-align: center;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url("/images/hero/hero.jpg"); 
//     max-width: 1600px;
//     height: 600px;
//     margin-left: auto;
//     margin-right: auto;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;

//     @media screen and (max-width: 1199px) {

//     }
// }


.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    color: var(--contact-color);
    background-color: var(--logo-text-color);
    margin-top: 30px;
    justify-content: center;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
        color: var(--primary-title-color);
    }
}

