.section-projects {
    padding-top: 50px;
}

.project-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.by-project {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}

@media screen and (min-width: 320px) {
    .projects-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (min-width: 768px) {
    .projects-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .projects-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


.project-item {
    flex-basis: calc(100% / 3 - 30px);
    // width: 370px;
    // margin-right: 0px;
    // margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
    }
}


.project-item-wrap {
    position: relative;
    overflow: hidden;
}

.project-img-text {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--contact-color);
    font-size: 18px;
    line-height: 28px;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .project-item:hover & {
        transform: translateY(0);
    }
}



//  .project-item-link {
//      text-decoration: none;
//      color: var(--primary-title-color);
//  }

 .project-item-link {
     display: block;
     text-decoration: none;
     color: var(--primary-title-color);
     transition-property: box-shadow;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:focus, 
     &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
 }
