.section-team {
    background: #F5F4FA;
}


.team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-lists {
    display: flex;
    margin-top: 50px;
    
} 

.team-list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;

    &:not(:last-child) {
        margin-right: 30px;
    }
}


.by-team-list {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.team-icon {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
}
    
.team-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 16px;
    text-align: center;
}

