.input-form {
    display: inline-flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;

    @media screen and (max-width: 1199px) {
        display: block;
        width: 100%;
        }
}


.footer-form-input {
    width: 358px;
    padding: 15px 16px;
    background: #2F303A;
    color: var(--contact-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    outline: none;

    @media screen and (max-width: 1199px) {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
        }
    
}

.btn-form-footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--logo-text-color);
    color: var(--contact-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition-property: color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus, 
    &:hover {
        color: #000;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
    }
}



.icon-send {
    fill: #ffffff;
    margin-left: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, 
    &:focus {
        fill: #000000;
    }
}




.btn-form-footer:focus .icon-send, .btn-form-footer:hover .icon-send {
    fill: #000000;
    
}