p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-title-color);
}
